<div th:fragment="enterprise">



   <style>
        .draggable {
            padding: 10px;
            margin-bottom: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f8f9fa;
            cursor: pointer;
        }

        .userBox, .roleBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .userBox {
            transition: background-color 0.3s ease;
            position: relative;
            padding-right: 30px; /* Make space for the close button */
        }

        .btn-close {
            border: none;
            background: none;
        }

        .badge {
            margin-left: 10px;
        }
    </style>

    <button onclick="mobNext()" class="btn btn-success mt-2">Mob Next</button>
    <button class="btn btn-info mt-2" onclick="shuffleUsers()">Shuffle Users</button>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <h2>Users</h2>

                <div class="list-group" id="userList"></div>
                <input class="form-control" id="userName" placeholder="Enter user name" type="text">
                <button class="btn btn-primary mt-2" onclick="addUser()">Add User</button>
            </div>

            <div class="col-md-6">
                <h2>Inactive Users</h2>
                <div class="list-group mb-3" id="inactiveList"></div>
            </div>

            <div class="visually-hidden">
                <div class="col-md-6">
                    <h2>Roles</h2>
                    <div class="list-group" id="roleList"></div>
                    <input class="form-control" id="roleName" placeholder="Enter role name" type="text">
                    <button class="btn btn-secondary mt-2" onclick="addRole()">Add Role</button>
                </div>
            </div>
        </div>

    </div>



<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        setupDragListeners();
        addDefaultUsersWithLimitedRoles();

        let userNameInput = document.getElementById('userName');
        userNameInput.addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();  // Prevent the default form submit behavior
                addUser();              // Call the addUser function
            }
        });

    });

    function moveToInactive(user) {
        const inactiveList = document.getElementById('inactiveList');
        inactiveList.appendChild(user);
        user.style.backgroundColor = "#997404"; // Reset background color

        const badge = user.querySelector('.badge');
        if (badge) {
            user.removeChild(badge); // Remove the role badge
        }

        user.dataset.role = ""; // Clear any stored role data
        sendUpdate()
    }

    function addUser() {
        const userName = document.getElementById('userName').value.trim();
        const defaultRoleName = "Participant"; // Specify a default role name here
        const defaultRoleColor = "#"; // Specify a default role color here

        if (userName) {
            const userBox = createUserBox(userName,null,null);
            document.getElementById('userList').appendChild(userBox);
            document.getElementById('userName').value = ''; // Clear the input after adding

            // send update
            sendUpdate()
        }
    }


    function setFirstUserToLast() {
        const userList = document.getElementById('userList');

        if (userList.children.length > 1) {
            // Get the text content of the current first user
            const firstUserName = userList.children[0].textContent.replace(/\s-\s.*$/, ''); // Remove role from name if included

            // Rotate the user list
            const firstUser = userList.removeChild(userList.children[0]);
            userList.appendChild(firstUser);

            // Update the text content of the new first user with the previous first user's name and role
            const role = firstUser.dataset.role || '';
            firstUser.textContent = firstUserName + (role ? ` - ${role}` : '');

            // Update the role badge if it exists
            if (firstUser.querySelector('.badge')) {
                firstUser.querySelector('.badge').textContent = role;
            }
        }
    }

    function setFirstUser(user) {
        console.log("Set first user "+user)
        mobNext(false, user)
    }

    function setupDragListeners() {
        const lists = ['userList', 'roleList', 'inactiveList'];
        lists.forEach(listId => {
            const list = document.getElementById(listId);

            list.addEventListener('dragstart', function(event) {
                if (event.target.classList.contains('userBox') || event.target.classList.contains('roleBox')) {
                    event.target.classList.add('dragging');
                }
            });

            list.addEventListener('dragover', function(event) {
                event.preventDefault();
            });

            list.addEventListener('drop', function(event) {
                event.preventDefault();
                const draggingElement = document.querySelector('.dragging');
                if (draggingElement && event.target.classList.contains('userBox')) {
                    draggingElement.classList.remove('dragging');

                    if (draggingElement.classList.contains('roleBox')) {
                        handleRoleAssignment(draggingElement, event.target);
                    } else if (draggingElement.classList.contains('userBox')) {

                       if (listId === 'userList' && draggingElement.classList.contains('userBox')) {
                            // Add the close button back if it's moved to an active list
                            addCloseButton(draggingElement);
                        }

                        // Determine where to insert the element
                        const targetIsAfterDragging = event.target.compareDocumentPosition(draggingElement) & Node.DOCUMENT_POSITION_FOLLOWING;
                        if (targetIsAfterDragging) {
                            event.target.parentNode.insertBefore(draggingElement, event.target);
                        } else {
                            event.target.parentNode.insertBefore(draggingElement, event.target.nextSibling);
                        }
                        sendUpdate()
                    }
                }
                draggingElement.classList.remove('dragging');
            });
        });
    }

    function addCloseButton(userBox, isInactive = false) {
        // Check if the close button already exists to avoid duplicates
        if (!userBox.querySelector('.btn-close')) {
            const closeButton = document.createElement('button');

            closeButton.className = 'btn-close position-absolute top-0 end-0';

            if (isInactive) {
                closeButton.innerHTML = '&#x1F5D1;';
                // Remove the userBox from the DOM if it's in the inactive list
                closeButton.onclick = function() {
                    console.log( userBox);
                    userBox.remove(); // Removes the userBox element from the DOM
                    sendUpdate(); // Call to update the backend or state
                };
            } else {
                closeButton.innerHTML = 'X';
                closeButton.onclick = function() {
                    moveToInactive(userBox);
                };
            }

            userBox.appendChild(closeButton);
        }
    }


    function handleRoleAssignment(roleBox, targetUser) {
        if (targetUser && targetUser.classList.contains('userBox')) {

            targetUser.style.backgroundColor = roleBox.style.backgroundColor;
            targetUser.dataset.role = roleBox.textContent;

            if (!targetUser.querySelector('.badge')) {
                const roleBadge = document.createElement('span');
                roleBadge.className = 'badge bg-secondary';
                roleBadge.textContent = roleBox.textContent;
                targetUser.appendChild(roleBadge);
            } else {
                targetUser.querySelector('.badge').textContent = roleBox.textContent;
            }
        }
    }


    function addDefaultUsersWithLimitedRoles() {
        const defaultUsers = ["Jarkko", "Sampsa", "Markus", "Ahma", "Tuomo", "Suvi"];
        const defaultRoles = [
            { name: "Ajaja", color: "#6f42c1", desc : "Jakaa ruudun ja kädet näppisellä tekee mitä Kartturi sanoo." },
            { name: "Kartturi", color: "#dc3545", desc : "Neuvottelee Takapenkin kanssa ja kertoo Ajajalle mitä tehdään" },
          //  { name: "Facilitator", color: "#28a745" }
        ];

        // Ensure roles are created and appended to the role list
        defaultRoles.forEach(role => {
            const roleBox = createRoleBox(role.name, role.color);
            document.getElementById('roleList').appendChild(roleBox);
        });

    }


    function createRoleBox(roleName, color) {
        const roleBox = document.createElement('div');
        roleBox.className = 'roleBox draggable list-group-item';
        roleBox.draggable = true;
        roleBox.textContent = roleName;
        roleBox.dataset.roleName = roleName;
        roleBox.style.backgroundColor = color;
        roleBox.addEventListener('dragstart', () => roleBox.classList.add('dragging'));
        roleBox.addEventListener('dragend', () => roleBox.classList.remove('dragging'));
        return roleBox;
    }

    function createUserBox(userName, roleName, color, inActive = false) {
        const userBox = document.createElement('div');

        userBox.className = 'userBox draggable list-group-item';
        userBox.draggable = true;
        userBox.dataset.name = userName; // Store the user's name in a data attribute
        userBox.dataset.role = roleName || null; // Store the role in a data attribute
        userBox.style.backgroundColor = color || "#d3d3d3"; // Default color if no role

        // Create the span for the user's name and append it to the user box
        const nameSpan = document.createElement('span');
        nameSpan.className = 'user-name';
        nameSpan.textContent = userName;
        userBox.appendChild(nameSpan);

        // Create the close button and append it to the user box
         addCloseButton(userBox, inActive)


        userBox.addEventListener('dragstart', () => userBox.classList.add('dragging'));
        userBox.addEventListener('dragend', () => userBox.classList.remove('dragging'));

        return userBox;
    }

    function createUserBoxWithRole(userName, roleName, color) {
        const userBox = createUserBox(userName, roleName, color)

        // Create the badge for the role if there is one
        if (roleName) {
            const roleBadge = document.createElement('span');
            roleBadge.className = 'badge bg-secondary ms-2';
            roleBadge.textContent = roleName;
            // currently done in createUserBox
            // userBox.dataset.role = roleName;
            userBox.appendChild(roleBadge);
        }


        return userBox;
    }






    function addRole() {
        const roleName = document.getElementById('roleName').value;
        const color = "#" + Math.floor(Math.random()*16777215).toString(16);
        if (roleName) {
            const roleBox = createRoleBox(roleName, color);
            document.getElementById('roleList').appendChild(roleBox);
            document.getElementById('roleName').value = '';
        }
    }


    /**
     * This is called when new information arrives from websocket.
     * Not called from UI
     * @param userNames
     */
    function updateUserNameList(userNames, inactiveNames, roleNames) {
        const userList = document.getElementById('userList');
        const inactiveList = document.getElementById('inactiveList');

        const roleList = document.getElementById('roleList');
        const roleBoxes = Array.from(roleList.children).map(box => box);


        userList.innerHTML = '';
        inactiveList.innerHTML = '';


        inactiveNames?.forEach((userName, index) => {
            const inactiveList = document.getElementById('inactiveList');
            const userBox = createUserBox(userName,null, "#f8f9fa",true)
            inactiveList.appendChild(userBox);
        })

        userNames?.forEach((userName, index) => {
            let roleBox = roleBoxes[index] || null; // Get the role or an empty object if index exceeds roles
            let roleName = null;
            let roleColor = null;
            // only assign roles as long as there are roles..
            // the idea is that first user thet first role, 2nd user 2nd role etc..
            if( roleBox !== null ) {
                roleName = roleBox.dataset.roleName;
                roleColor = roleBox.style.backgroundColor;
            }

            switch (index) {
                case 0: updateTimerUser(userName); break;
                case 1: updateTimerNextUser(userName); break;
            }

            const userBox = createUserBoxWithRole(userName, roleName, roleColor);
            document.getElementById('userList').appendChild(userBox);
        })

    }

    function shuffleUsers() {
        mobNext(true,null)
    }

    function mobNext(random, user, userNames) {
        const userList = document.getElementById('userList');
        console.log( "userList="+userList)

        if (userList.children.length > 1) {

            let names;
            if ( typeof userNames != 'undefined' ) {
                names = userNames
            } else {
                names = Array.from(userList.children).map(box => box.dataset.name);
                userNames = null;
            }

            const randomize = typeof random !== 'undefined' ? random : false;
            let newUser = typeof user != 'undefined' ? user : null;
            let triggerUpdate=true;

            console.log("randomize="+randomize+" newUser="+newUser+ " names="+names);

            // sort final names
            if( randomize ) {
                for (let i = names.length - 1; i > 0; i--) {
                    const j = Math.floor(Math.random() * (i + 1));
                    [names[i], names[j]] = [names[j], names[i]];
                }
                console.log("Random users: "+names)
            } else if ( userNames !== null ) {
                    triggerUpdate=false;
            } else if( newUser === null )  {
                    names.push(names.shift()); // Move the first name to the end
            } else {
                    // set user as first user
                    console.log("names.length="+names.length)
                    names[0] = newUser;
                    triggerUpdate=false;
            }


            // Reassign names to user boxes
            Array.from(userList.children).forEach((box, index) => {
                // Update only the text in the .user-name span, preserving other elements like badges and buttons
                const nameSpan = box.querySelector('.user-name');
                if (nameSpan) {
                    nameSpan.textContent = names[index]; // Set the new name
                }
                box.dataset.name = names[index]; // Update the dataset name
            });

            console.log("User="+newUser)

            // prevent loop-de-loop
            if( triggerUpdate )  {
                console.log("triggering update to room.html with user="+ names[0] )
                // Update timer elements
                // update UI for user
                updateTimerUser(names[0])
                // update UI for next user
                updateTimerNextUser(names[1])
                // null for for timer prevents timer from starting
                sendTimer(null, 0, names[0], names[1] !== null ? names[1] : '', 'update' )

            }

        } else {
            console.log("creating first user="+user);
            const firstUser = createUserBoxWithRole( user, "Typist", "#6f42c1");
            document.getElementById('userList').appendChild(firstUser);
        }
    }


</script>


</div>